#keyboard_container {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

#keyboard_container_header {
  cursor: move;
  padding: 10px;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

#keyboard_switcher {
  cursor: pointer;
  float: right;
  background-color: red;
}
#keyboard_close {
  float: right;
  cursor: pointer;
  margin-left: 5%;
  background-color: red;
}
